# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
#!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.config
.google.token
compiled
bash
images
reps
cookie

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
intent_script.yaml
floorplan.yaml
google_calendars.yaml
google_calendars_all.txt
cameras.yaml
appdaemon.yaml
shell_commands.yaml
configuration.cnf
essexcrossing.py
usps.py
.uuid
.google*
*.pickle
*.db
*.png
*.gif
*.jpg
*.sqlite
*.conf
*.pem
*.pyc
._*
._.DS_Store
._.gitignore
._.input_datetime.yaml.swp
._.smbdeleteAAA214ea
._appdaemon.yaml
._appdaemon_old.yaml
._automations.yaml
._boink.wav
._cameras.yaml
._climate.yaml
._configuration.yaml
._configuration_themes.yaml
._customize.yaml
._customize_glob.yaml
._device_tracker.yaml
._floorplan.yaml
._google_calendars.yaml
._groups.yaml
._history_graph.yaml
._home-assistant_v2.db-shm
._images
._automations.yaml
._boink.wav
._cameras.yaml
._climate.yaml
._configuration.yaml
._configuration_themes.yaml
._customize.yaml
._customize_glob.yaml
._device_tracker.yaml
._floorplan.yaml
._google_calendars.yaml
._groups.yaml
._history_graph.yaml
._home-assistant_v2.db-shm
._input_boolean.yaml
._input_number.yaml
._input_select.yaml
._intent_script.yaml
._known_devices.yaml
._panel_custom.yaml
._panels
._rest_command.yaml
._scripts.yaml
._secrets.yaml
._sensors.yaml
._shell_commands.yaml
._switches.yaml
._ui-lovelace.yaml
._ui-lovelace2.yaml
